---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=CAACEdEose0cBAHslAjv0ct7rRwj4UsZC947J9ONf0o4zZARr3jN7ea1IQ8J5OsLI2l6cfVtnxS3gX2WjK2V5b2khyuwqnsWE11FGQNdDJ9cQI3gKWHxZADZB2ekZCrTVilWgYXR3aBQY5lUfgvqXRDxdnc8LHrr14Qsg9F0pUhgZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"aabb77112908db0bbf33f2a78cc4c81bef9ac6f5"'
      Last-Modified:
      - '2013-06-02T16:09:36+0000'
    body:
      encoding: UTF-8
      string: '{"id":"100002734755203","name":"Matteo Depalo","first_name":"Matteo","last_name":"Depalo","link":"http:\/\/www.facebook.com\/matteodepalo","username":"matteodepalo","work":[{"employer":{"id":"101581493262761","name":"Responsa"},"location":{"id":"110592745629708","name":"Treviso,
        Italy"},"position":{"id":"149398655076441","name":"Co-Founder & CTO"},"start_date":"2012-03-14"},{"employer":{"id":"84021019572","name":"H-FARM
        Ventures"},"location":{"id":"108340469186797","name":"Roncade"},"position":{"id":"144690032216205","name":"Junior
        Developer"},"start_date":"2011-11-20","end_date":"2012-03-14","projects":[{"id":"107825102582986","name":"Responsa"}]},{"employer":{"id":"111791038836989","name":"IFAE"},"location":{"id":"106287062743373","name":"Barcelona,
        Spain"},"position":{"id":"108280022527340","name":"Physicist"},"start_date":"2010-06-01","end_date":"2010-08-01"}],"sports":[{"id":"109925095700173","name":"Track
        and field athletics"},{"id":"109446562415595","name":"Volleyball"}],"favorite_teams":[{"id":"160647443979176","name":"Natus
        Vincere"}],"favorite_athletes":[{"id":"21744379694","name":"Tony Hawk"},{"id":"136022989819147","name":"MiSeRy-"},{"id":"239740989440503","name":"WehSing
        ''''SingSing'''' Yuen"}],"education":[{"school":{"id":"111967602163282","name":"Liceo
        Classico Enea Silvio Piccolomini"},"year":{"id":"137616982934053","name":"2006"},"type":"High
        School"},{"school":{"id":"112431102103139","name":"University of Siena"},"year":{"id":"142963519060927","name":"2010"},"concentration":[{"id":"109279729089828","name":"Physics"}],"type":"College"}],"gender":"male","email":"matteodepalo\u0040gmail.com","timezone":-4,"locale":"en_US","languages":[{"id":"113153272032690","name":"Italian"},{"id":"106059522759137","name":"English"}],"verified":true,"updated_time":"2013-06-02T16:09:36+0000"}'
  recorded_at: Tue, 04 Jun 2013 01:49:21 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me/friends?access_token=CAACEdEose0cBAHslAjv0ct7rRwj4UsZC947J9ONf0o4zZARr3jN7ea1IQ8J5OsLI2l6cfVtnxS3gX2WjK2V5b2khyuwqnsWE11FGQNdDJ9cQI3gKWHxZADZB2ekZCrTVilWgYXR3aBQY5lUfgvqXRDxdnc8LHrr14Qsg9F0pUhgZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"3a19e87ae880eb85bdc3c89c4d9b67bc09febbdd"'
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"Elena Luzzi","id":"500137316"},{"name":"Alberto Fantappie","id":"502814172"},{"name":"Marco
        Passarello","id":"516042038"},{"name":"Diego Bard Maniero","id":"532924489"},{"name":"Enrico
        Zeffiro","id":"585911731"},{"name":"Andrea Zilio","id":"595283770"},{"name":"Vincenzo
        Acinapura","id":"602352257"},{"name":"Luca Sicuso","id":"621930081"},{"name":"Pilar
        Verduga","id":"643831020"},{"name":"Gabriele Antoniazzi","id":"660982024"},{"name":"Marco
        Catta[...]
