---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: client_id=207588002722424&client_secret=6024eeeb0a2beecfececbb2212a36861&type=client_cred
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: access_token=207588002722424|9rkZwCD74XWICr6J_2aGzxi1GjU
  recorded_at: Thu, 06 Jun 2013 20:46:06 GMT
- request:
    method: post
    uri: https://graph.facebook.com/207588002722424/accounts/test-users
    body:
      encoding: UTF-8
      string: installed=true&permissions=email&access_token=207588002722424%7C9rkZwCD74XWICr6J_2aGzxi1GjU
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"100006073568421","access_token":"CAAC8zNkpcngBAAwiSz6faa6JsHcyYQ5YsQxLFvhvpypTVNNZCMzwbM1eKmLTOk1n88bZBl3cNNZC9at0IqBwmr336oFjEeGNfr4UPHbcEEXvC6ajureXZAIh9SnOs4hvEM11n1iEDucrnZBTbQ9nsiVMDIYZBcVwXEaI4Vg1ZAwZBgZDZD","login_url":"https:\/\/www.facebook.com\/platform\/test_account_login.php?user_id=100006073568421&n=r5fzrhPwnelbH4m","email":"qjbjyww_rosenthalberg_1370551567\u0040tfbnw.net","password":"154454460"}'
  recorded_at: Thu, 06 Jun 2013 20:46:10 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=CAAC8zNkpcngBAAwiSz6faa6JsHcyYQ5YsQxLFvhvpypTVNNZCMzwbM1eKmLTOk1n88bZBl3cNNZC9at0IqBwmr336oFjEeGNfr4UPHbcEEXvC6ajureXZAIh9SnOs4hvEM11n1iEDucrnZBTbQ9nsiVMDIYZBcVwXEaI4Vg1ZAwZBgZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"75932234b8fb957823de92bb71f2540146028a1b"'
      Last-Modified:
      - '2013-06-06T20:46:08+0000'
    body:
      encoding: UTF-8
      string: '{"id":"100006073568421","name":"Mark Amfjgcefhdba Rosenthalberg","first_name":"Mark","middle_name":"Amfjgcefhdba","last_name":"Rosenthalberg","link":"http:\/\/www.facebook.com\/profile.php?id=100006073568421","gender":"male","email":"qjbjyww_rosenthalberg_1370551567\u0040tfbnw.net","timezone":0,"locale":"en_US","updated_time":"2013-06-06T20:46:08+0000"}'
  recorded_at: Thu, 06 Jun 2013 20:46:11 GMT
- request:
    method: get
    uri: https://graph.facebook.com/207588002722424/accounts/test-users?access_token=207588002722424%7C9rkZwCD74XWICr6J_2aGzxi1GjU
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"5eef4a5756ff4fdf093306d092d2613546f4d199"'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"100006073568421","access_token":"CAAC8zNkpcngBAHNS3k5VpmfZBOY1F9xiow2YAWeItWt5ABH9GNUXRZCuSB7SSCbVosA4siZAmqbLV14YzNxnF3QezWTZBMefqZBstENML0KkBgyVHUa3fvql9IBdqBJd4kUdrDRWnVR8krLFXnEztc8wmfxfFN5dGOZAU14nB6qwZDZD","login_url":"https:\/\/www.facebook.com\/platform\/test_account_login.php?user_id=100006073568421&n=r5fzrhPwnelbH4m"}],"paging":{"cursors":{"after":"MTAwMDA2MDczNTY4NDIx","before":"MTAwMDA2MDczNTY4NDIx"}}}'
  recorded_at: Thu, 06 Jun 2013 20:46:11 GMT
- request:
    method: post
    uri: https://graph.facebook.com/
    body:
      encoding: UTF-8
      string: batch=%5B%7B%22method%22%3A%22delete%22%2C%22relative_url%22%3A%22100006073568421%22%7D%5D&access_token=207588002722424%7C9rkZwCD74XWICr6J_2aGzxi1GjU
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"code":200,"headers":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Cache-Control","value":"private,
        no-cache, no-store, must-revalidate"},{"name":"Connection","value":"close"},{"name":"Content-Type","value":"text\/javascript;
        charset=UTF-8"},{"name":"Expires","value":"Sat, 01 Jan 2000 00:00:00 GMT"},{"name":"Pragma","value":"no-cache"}],"body":"true"}]'
  recorded_at: Thu, 06 Jun 2013 20:46:12 GMT
- request:
    method: get
    uri: https://graph.facebook.com/207588002722424/accounts/test-users?access_token=207588002722424%7C9rkZwCD74XWICr6J_2aGzxi1GjU
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"1050253aec7b29caff644806927dabfa81406eee"'
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Thu, 06 Jun 2013 20:46:13 GMT
recorded_with: VCR 2.5.0
